<!--
  Generated template for the ReceiverRequestPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar>
    <ion-segment [(ngModel)]="tab">
      <ion-segment-button [value]="tabs.request">{{ 'REQUEST' | translate }}</ion-segment-button>
      <ion-segment-button [value]="tabs.food">{{ 'FOOD' | translate }}</ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content padding [ngSwitch]="tab">

  <receiver-request *ngSwitchCase="tabs.request"></receiver-request>
  <receiver-food *ngSwitchCase="tabs.food"></receiver-food>

</ion-content>
