<ion-menu [content]="masterNav">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{ 'MENU' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-menu>
<ion-split-pane (ionChange)="navProxy.onSplitPaneChanged($event._visible)">
  <ion-nav [root]="masterPage" #masterNav></ion-nav>
  <ion-nav [root]="detailPage" #detailNav main></ion-nav>
</ion-split-pane>
