<!--
  Generated template for the DonorReportPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>donor-report</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-grid>
  <ion-row>
    <ion-col>
    </ion-col>
    <ion-col col-auto>
	<h1 ion-text>Generate report</h1>
	<ion-item>
    <ion-label fixed>Start date</ion-label>
    <ion-input type="text" value=""></ion-input>
  </ion-item>
		<ion-item>
    <ion-label fixed>End date</ion-label>
    <ion-input type="text" value=""></ion-input>
  </ion-item>
	<button ion-button>Request</button>
    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
