<ion-header>

  <ion-toolbar>
    <ion-segment [(ngModel)]="tab">
      <ion-segment-button [value]="tabs.donation">{{ 'DONATION' | translate }}</ion-segment-button>
      <ion-segment-button [value]="tabs.receiver">{{ 'RECEIVER' | translate }}</ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content padding [ngSwitch]="tab">

  <donor-donation *ngSwitchCase="tabs.donation"></donor-donation>
  <donor-receiver *ngSwitchCase="tabs.receiver"></donor-receiver>

</ion-content>
