<!--
  Generated template for the ReceiverNeedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>receiver-need</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-label stacked>{{ 'RESOURCE_TAG' | translate }}</ion-label>
      <ion-select [(ngModel)]="selectedTags" multiple="true">
        <ion-option *ngFor="let tag of tags" [value]="tag.id">{{tag.en}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

</ion-content>
