receiver-food {
  ion-list.list-ios,
  ion-list.list-md {
    margin: -1px 0 5px;
  }
  .resource-information {
    float: right;
  }
  ion-icon {
    font-size: 2em;
  }
  .donor-profile {
    position: absolute;
    font-size: 2em;
    right: 0px;
    top: 0px;
  }
}
