<!-- Generated template for the ReceiverFoodComponent component -->
<ion-list *ngFor="let donation of donations" no-margin>
  <ion-item>
    <!-- <ion-label stacked>{{ 'RESOURCE_NAME' | translate }}</ion-label> -->
    <!-- <ion-input type="text" [(ngModel)]="donation.name" [readonly]="disabled"></ion-input> -->
    <h1 class="donor-name">
      {{ donation.donor.name }}
    </h1>
    <div class="donor-profile">
      <ion-icon name="person"></ion-icon>
    </div>
    <div class="map-link">
      <a href="https://www.openstreetmap.org/#map=6/{{ donation.donor.location.lat }}/{{ donation.donor.location.long }}">
        <ion-icon name="globe"></ion-icon>
      </a>
    </div>
    <div class="resource-information">
      <ion-list *ngFor="let resource of donation.resources" class="donation-information">
        {{ resource.weight }} kg {{ resource.name }} [{{ resource.tags }}]
      </ion-list>
    </div>
  </ion-item>
</ion-list>
