<ion-content scroll="false">
  <div class="splash-bg"></div>
  <div class="splash-info">
    <div class="splash-logo"></div>
    <div class="splash-intro">
      {{ 'WELCOME_INTRO' | translate }}
    </div>
  </div>
  <div padding text-center>
    <button ion-button block (click)="login()" class="login" color="secondary">{{ 'LOGIN' | translate }}</button>
    <a href="tel:98222913">Call for Helps</a>
  </div>
</ion-content>
