<!-- Generated template for the DonorDonationComponent component -->
<ion-list *ngFor="let donation of items" no-margin>
  <ion-item>
    <ion-label stacked>{{ 'RESOURCE_NAME' | translate }}</ion-label>
    <ion-input type="text" [(ngModel)]="donation.name" [readonly]="disabled"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>{{ 'RESOURCE_WEIGHT' | translate }} (KG)</ion-label>
    <ion-input type="number" [(ngModel)]="donation.weight" [readonly]="disabled"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>{{ 'RESOURCE_PRICE' | translate }} (TWD)</ion-label>
    <ion-input type="number" [(ngModel)]="donation.price" [readonly]="disabled"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>{{ 'RESOURCE_TAG' | translate }}</ion-label>
    <ion-select [(ngModel)]="donation.tags" multiple="true" [disabled]="disabled">
      <ion-option *ngFor="let tag of tags" [value]="tag.id">{{ tag.en }}</ion-option>
    </ion-select>
  </ion-item>

  <ion-buttons text-center *ngIf="!disabled">
    <button (click)="removeDonation(donation)" ion-button color="danger" icon-start>
      <ion-icon name="trash"></ion-icon>
      {{ 'REMOVE' | translate }}
    </button>
  </ion-buttons>
</ion-list>

<ion-buttons text-center *ngIf="!disabled">
  <button (click)="addDonation()" ion-button icon-start color="secondary">
    <ion-icon name="add"></ion-icon>
    {{ 'ADD_ITEM' | translate }}
  </button>
  <button (click)="donate()" ion-button icon-start block class="submit">
    <ion-icon name="ios-download" class="r180"></ion-icon>
    &nbsp;
    {{ 'DONATE' | translate }}
  </button>
</ion-buttons>

<div text-center class="bottom">
  <ion-note *ngIf="disabled">
    {{ 'SUBMITTED' | translate }}
  </ion-note>
</div>
