<!-- Generated template for the ReceiverRequestComponent component -->
<div>
  <ion-label>{{ 'PEOPLE_NUM' | translate}}</ion-label>
  <ion-item class="people-num">
    <ion-input [(ngModel)]="peopleNum" type="number">{{ peopleNum }}</ion-input>
  </ion-item>
  <ion-label>{{ 'PICKUP_TIME' | translate }}</ion-label>
  <ion-item class="pickup-time">
    <ion-input [(ngModel)]="pickupTime" type="string">{{ pickupTime }}</ion-input>
  </ion-item>
  <ion-label>{{ 'HELPER_NAME' | translate }}</ion-label>
  <ion-item class="helper-name">
    <ion-input [(ngModel)]="helperName" type="string">{{ helperName }}</ion-input>
  </ion-item>

  <br>

  <button class="request" (click)="requestResources()" ion-button round secondary full>{{ 'REQUEST' | translate }}</button>
</div>

