<!--
  Generated template for the FoodBankMenuListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar>
    <button menuToggle ion-button icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'MENU' | translate }}</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="onItemSelected(item)">
      <ion-icon [name]="item.icon"></ion-icon>
      {{ item.title | translate }}
    </button>
  </ion-list>
</ion-content>
