<!--
  Generated template for the FoodBankDonationListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{'DONATION' | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <!--
  donor, location, weight, tags, ngo, send
  -->
  <table>
    <tr *ngFor="let item of items">
      <td>
        {{item.donor_name}}
      </td>
      <td>
        {{item.location}}
      </td>
      <td>
        {{item.weight}}
      </td>
      <td>
        {{item.tags}}
      </td>
      <td>
        <ion-item>
          <ion-input [(ngModel)]="item.receiver_name"></ion-input>
        </ion-item>
      </td>
      <td>
        <button ion-button (click)="send(item)">Send</button>
      </td>
    </tr>
  </table>

</ion-content>
