<!--
  Generated template for the DevPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>dev</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h1>Horizon Status</h1>
  <p *ngIf="!user">Connecting to Horizon...</p>
  <p *ngIf="user">Login as user of id
    <br>
    <code>{{user.id}}</code>
  </p>

</ion-content>
